{% extends "fileshare/secondbase.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block content %}

		<p>Login</p>

		<form  method="POST">

		{% csrf_token %}
		{{form|crispy}}
		<button class="btn btn-primary btn-sm" type="submit">Login</button></div>
		
		</form>

		<div class="text-center"><a class="small" href="{% url 'register' %}">Don't have an account?</a></div>
		<div class="text-center"><a class="small" href="{% url 'password_reset' %}">Forgot Password?</a></div>

{% endblock %}
